*{
  padding: 0;
  margin: 0 ;
}
p, span{
  color: #6D6D6D !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.logo-menu{
  max-width: 340px;
  min-width: 200px;
}
.logo-menu img{
  width: 100%;
}
.mw-container{
  max-width: 1200px;
  margin: 0 auto !important;
  align-items: center;
}
.mw-container span{
  font-size: 14px;
}
.toolbar, .toolbar .v-toolbar__content{
  height: 90px !important;
}
.contenedorToolbar{
  margin: auto;
}
.main{
  padding: 12px 0 !important;
}
.contenedorHome{
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 90px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.mainsistem{
  margin-left: 50px;
}
.rutas{
  margin: 0 auto;
}
/* estilos banner*/
.carrusel-home, .carrusel-home-imagenes, .carrusel-home-imagenes .v-image {
  height: auto !important;
}
.cont-text-banner{
  position: relative;
  top: 180px;
}
.cont-text-banner h4, .cont-text-banner h5{
  text-transform: uppercase;
}
.cont-text-banner h4{
  font-size: calc(1em + 3.5vw);
}
.cont-text-banner h5{
  font-size: calc(1.3em + 3.7vw);
}
.cont-text-banner a{
  color: #ffffff !important;
  text-decoration: none;
}
.cont-text-banner a:hover{
  color: #FFAA00 !important;
}
.cont-text-banner a i{
  padding-left: 10px;
}
.v-carousel__controls{
  width: 200px !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  height: auto !important;
}
.v-carousel__controls .v-btn{
  display: block !important;
}
.v-carousel__controls .v-btn:before{
  content: "hola" !important;
  background-color: transparent !important;
}
.v-item--active .mdi-circle::before{
  content: "-";
}
/* estilos banner*/
/* imagenes centrales home*/
.img-centrales-home{
  margin-top: 90px;
}
/* imagenes centrales home*/
/*contenido home*/
.home-intro{
  margin-top: 90px;
}
/*contenido home*/
.rutas .router-link-exact-active li{
  color: #FFAA00 !important;
  border-bottom: 2px solid  #FFAA00;
  padding-bottom: 4px;
}
.rutas li{
  color: #000;
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.footer{
  background-color: #000 !important;
  padding: 20px 10px !important;
  text-align: center;
  align-items: center;
}
.text-footer span{
  padding: 0 20px;
  color: #ffffff !important;
}
.text-footer .imagenesFooter{
  padding: 0px 10px;
  width: 75px;
}
.derechos-reserva{
  color: #fff;
}
.bgImage{
  width: 100%;
  background-image: url('../ContactUs/Grupo42.png');
  background-position: center;
  padding: 60px 0px;
}
.expansionPanel{
  padding: 0 200px !important;
}
.v-expansion-panel-header__icon i{
  color: #fff !important;
}
.expansionpanel-tittle{
  border-bottom: 10px red !important;
  color: #fff !important;
  background: transparent !important;
}
  .imagenesFooter{
  width: 50px;
  margin: 0 auto;
  display: inline-block !important;
}
.cardimg{
  text-align: center;
}
.cardimg .imagenesprueba{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
  .titulos-home{
    color: #ffa500;
    font-size: 36px !important;
  }
  .divisor-titulos{
    background:#ffa500 !important;
    height: 4px !important;
    width: 150px;
    margin: 10px 0px;
    border-radius: 5px;
  }
  .parrafos-home{
    font-size: 20px;
  }
  .imagen-home-lateral{
    margin: 0 auto;
    width: 80%;
  }
  .mas-en-links{
    color: #ffa500 !important;
    font-weight: bold;
    font-size: 24px;
    padding-right: 10px;
    position: relative;
    bottom: -2px;
  }
  .links-home{
    text-decoration: none;
    color: #000 !important;
  }
  .next{
    color: #ffa500;
  }
  .bottom-call{
    width: 250px !important;
    height: 50px !important;
    background: #75B800 !important;
    margin-top: 90px !important;
  }
  .bottom-call span{
    color: #ffffff !important;
  }
  .menu-responsive{
    color: #ffa500;
    font-size: 1.5rem;
    display: none;
    padding: 10px 20px;
  }


@media screen and (max-width: 1500px) {  
  .cont-text-banner{
    top: 100px;
    left: 80px;
  }
}
@media (max-width: 1050px) {
  .expansionPanel{
    padding: 20px !important;
    top: 0px;
  }
  .contenedor-contenido{
  margin: 0px;
  }
  .carrusel{
    height: 100% !important;
  }
  .cardimg{
    width: 80%;
    height: 100%;
    margin: 40px auto;
}
}
@media screen and (max-width: 960px) {
  .rutas li{
    display: none;
  }
  .menu-responsive{
    display: block;
    padding-right: 5px;
  }
  .cont-text-banner{
    top: 50px;
    left: 80px;
  }
}
@media screen and (max-width: 560px) {
  .cont-text-banner{
    left: 0px;
    width: 100%;
    text-align: center;
  }


}