*{
  padding: 0;
  margin: 0 ;
}
p, span{
  color: #6D6D6D !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.logo-menu{
  max-width: 340px;
  min-width: 200px;
}
.logo-menu img{
  width: 100%;
}
.carrusel-home{
  height: 100vh !important;
}
.fondocss {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0
  }
.fondo-about{
  width: 100%;
  background-image: url('../img/fondo-about.jpg');
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.mw-container{
  align-items: center;
  justify-content: space-between;
  max-width: 1400px !important;
  margin: 0 auto !important;
  padding-left: 10px;
  padding-right: 10px;
}
.mw-container span{
  font-size: 14px;
}
.toolbar, .toolbar .v-toolbar__content{
  height: 90px !important;
}
.toolbar{
  background-image: url('../img/franja-menu.png');
}
.contenedorToolbar{
  margin: auto;
}
.main{
  padding: 12px 0 !important;
}
.imagenesDialog{
  width: 100%;
  background-size: contain !important;
}
.contenedorHome{
  max-width: 1400px !important;
  margin: 0 auto !important;
  margin-bottom: 60px !important;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.mainsistem{
  margin-left: 50px;
}
.rutas{
  margin: 0 auto;
}
/* estilos banner*/

.cont-text-banner{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.cont-text-banner h4, .cont-text-banner h5{
  text-transform: uppercase;
}
.cont-text-banner h4{
  font-size: calc(1em + 3.5vw);
}
.cont-text-banner h5{
  font-size: calc(1.3em + 3.7vw);
}
.cont-text-banner a{
  color: #ffffff !important;
  text-decoration: none;
}
.cont-text-banner a:hover{
  color: #FFAA00 !important;
}
.cont-text-banner a i{
  padding-left: 10px;
}

/* estilos banner*/
/* imagenes centrales home*/
.img-centrales-home{
  margin-top: 90px;
}
/* imagenes centrales home*/
/*contenido home*/
.home-intro{
  margin-top: 90px;
}
/*contenido home*/
.rutas .router-link-exact-active li{
  color: #FFAA00 !important;
  border-bottom: 2px solid  #FFAA00;
  padding-bottom: 4px;
}
.rutas li{
  color: #000;
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.footer{
  background-color: #000 !important;
  padding: 20px 10px !important;
  text-align: center;
  align-items: center;
}
.text-footer{
  text-align: left;
}
.text-footer span{
  padding: 0 20px;
  color: #ffffff !important;
}
.text-footer .imagenesFooter{
  padding: 0px 10px;
  width: 75px;
}
.derechos-reserva{
  color: #fff;
  text-align: left;
}
.bgImage{
  width: 100%;
  background-image: url('../ContactUs/Grupo42.jpg');
  background-size: cover;
  padding: 60px 0px;
  margin-bottom: 60px;
}

.expansionPanel{
  padding: 0 200px !important;
}
.v-expansion-panel-header__icon i{
  color: #fff !important;
}
.expansionpanel-tittle{
  border-bottom: 10px red !important;
  color: #fff !important;
  background: transparent !important;
}
.tittle-form, .tittle-form-2{
  color: #fff !important;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.tittle-form-2{
  padding-top: 10px;
}
.span-form{
  color: #fff !important;
}
.routes{
  text-decoration: none;
}
.buttom-more{
  background-color: #75B800 !important;
  border-radius: 0px !important;
}
.buttom-more span{
  color: #fff !important;
}
.imagenesFooter{
width: 50px;
margin: 0 auto;
display: inline-block !important;
}
.cardimg{
  text-align: center;
}
.cardimg .imagenesprueba{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.titulos-home{
  color: #ffa500;
  font-size: 36px !important;
}
.divisor-titulos{
  background:#ffa500 !important;
  height: 4px !important;
  width: 150px;
  margin: 10px 0px 30px 0px;
  border-radius: 5px;
}
  .parrafos-home{
    font-size: 20px;
  }
  .imagen-home-lateral{
    margin: 0 auto;
    width: 80%;
  }
  .color-panel{
    color: #ffa500 !important;
    font-weight: bold;
    font-size: 24px;
  }
  .cerrar-dialog{
    cursor: pointer;
    z-index: 100;
    font-size: 30px;
    color: #000;
    right: 0px;
    position: absolute;
  }
  .color-panel i{
    color: #ffa500 !important;
  }
  .handler-carrousel{
    position: absolute;
    width: 53px;   
    height: 100px;
    z-index: 1;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
    display: inline-table;
  }
  
  .handler-carrousel .banner-router{
    z-index: 1000;
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  .handler-carrousel .banner-router.active span{   
    font-size: 50px;
    color: #ffa500 !important;
    text-shadow: 2px 1.5px 2px rgba(0, 0, 0, 0.6);
  }
  .banner-router span{
    color: #000000 !important;
  }
  .links-home{
    text-decoration: none;
    color: #000 !important;
  }
  .siguiente{
    color: #ffa500;
    padding-left: 8px;
  }
  .bottom-call{
    width: 250px !important;
    height: 50px !important;
    background: #75B800 !important;
    margin-top: 90px !important;
  }
  .bottom-call span{
    color: #ffffff !important;
  }
  .menu-responsive{
    color: #ffa500;
    font-size: 1.5rem;
    display: none;
    padding: 10px 20px;
  }
/*Estilos servicios*/
.col-services{
  padding: 40px 60px !important;
}
.col-services .v-image{
  margin-bottom: 30px !important;
}
.cabezote{
  background-image: url("../img/3109.jpg");
  background-size: cover;
  padding: 20px 25px;
}
.fondo-negro{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  padding: 30px 0px;
}
.fondo-negro .contenedorHome{
  margin-bottom: 0px !important;
}
.txt-blanco{
  text-align: center;
  color: #ffffff !important;
}
.bg-steel{
  background-image: url("../img/services-int-01-edit.jpg");
  background-size: contain;
  background-position: right;
  margin-bottom: 40px;
}
.iconos-lista {
  list-style: none;
  padding: 0;
}
.iconos-lista li {
  padding-left: 1.3em;
}
.iconos-lista li:before {
  content: "-"; /* FontAwesome Unicode */
  display: inline-block;
  margin-left: -20px;
  color: #FFAA00;
  font-weight: bolder;
  font-size: 2em;
  padding-right: 4px;
  position: relative;
  top: 3px;
}
/*Fin estilos servicios*/
/* Estilos carrusel */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-carrusel {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.vista{
  display: block;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.v-btn .v-btn__content{
  color: #ffffff !important;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #FFAA00;
  padding: 15px 16px;
}
#caption{
  margin-bottom: 0px !important;
  color: #000 !important;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.v-label{
  color: #fff !important;
}
fieldset{
  border-color: #fff !important;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.blanco{
  color: #ffffff !important;
  font-size: 2em;
}
/* Fin estilos carrusel */
.menu-mob{
  text-decoration: none;
  color:#FFAA00 !important;
}
.imagen-animada{
  transform: scale(1);
  transition: transform .2s;
}
.imagen-animada:hover{
  transform: scale(1.1);
}
.cont-img{
  max-height: 274px;
  overflow: hidden;
}

.v-dialog{
  box-shadow: inherit !important;
}
.v-carousel__controls{
  background: inherit !important;
}
.v-navigation-drawer{
  position: fixed !important;
}
#enviar{
  padding: 24px 60px !important;
  background-color: #ff8800 !important;
  color: #ffffff !important;
  font-size: 1.2rem;
}
#formulario form{
  text-align: center !important;
}
#formulario .theme--light.v-input input, .theme--light.v-input textarea{
  color: #ffffff !important;
}
.redes{
  color: #ffffff !important;
  padding: 10px;
  font-size: 1.5rem !important;
}
.redes:hover, .correo:hover{
  color: #ff8800 !important;
}
.correo{
  color: #ffffff !important;
  text-decoration: none;
}
@media screen and (max-width: 1500px) {  
  .cont-text-banner{
    top: 100px;
    left: 80px;
  }
}
@media (max-width: 1050px) {
  .carrusel-home, .carrusel-home-imagenes, .carrusel-home-imagenes .v-image {
    height: 350px !important;
  }
  .handler-carrousel{
    position: absolute;
    width: 100%;   
    height: 40px;
    z-index: 1;
    bottom: 0px;
    display: inline-table;
    right: inherit;
    transform: inherit !important;
    top: inherit !important;
    text-align: center;
  }
  .handler-carrousel .banner-router{
    z-index: 10;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  .handler-carrousel .banner-router.active span{   
    font-size: 30px;
  }
  .expansionPanel{
    padding: 20px !important;
    top: 0px;
  }
  .contenedor-contenido{
  margin: 0px;
  }
  .carrusel{
    height: 100% !important;
  }
  .cardimg{
    width: 80%;
    height: 100%;
    margin: 40px auto;
}
}
@media screen and (max-width: 960px) {
  .rutas li{
    display: none;
  }
  .menu-responsive{
    display: block;
    padding-right: 5px;
  }
  .cont-text-banner{
    top: 50px;
    left: 80px;
  }
}
@media screen and (max-width: 560px) {
  .carrusel-home, .carrusel-home-imagenes, .carrusel-home-imagenes .v-image {
    height: 280px !important;
  }
  .cont-text-banner{
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .img-centrales-home{
    margin-top: 20px;
    display: contents;
  }
  .home-intro{
    margin-top: 20px;
  }
  .titulos-home{
    font-size: 24px !important;
  }
  .parrafos-home{
    font-size: 16px;
  }
  .contenedorHome{
    margin-bottom: 30px;
  }
  .mw-container{
    display: block !important;
  }
  .text-footer{
    text-align: center;
    padding: 15px 0px;
  }

}