*{
  padding: 0;
  margin: 0 ;
}
p, span{
  color: #6D6D6D !important;
}
.imagenes img{
  width: 100%;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.logo-menu{
  max-width: 340px;
  min-width: 200px;
}
.logo-menu img{
  width: 100%;
}
.mw-container{
  max-width: 1200px;
  margin: 0 auto !important;
  align-items: center;
}
.mw-container span{
  font-size: 14px;
}
.toolbar, .toolbar .v-toolbar__content{
  height: 90px !important;
}
.contenedorToolbar{
  margin: auto;
}
.main{
  padding: 12px 0 !important;
}
.contenedorHome{
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 90px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.mainsistem{
  margin-left: 50px;
}
.rutas{
  margin: 0 auto;
}
/* estilos banner*/
.carrusel-home, .carrusel-home-imagenes, .carrusel-home-imagenes .v-image {
  height: auto !important;
}
.cont-text-banner{
  position: relative;
  top: 180px;
}
.cont-text-banner h4, .cont-text-banner h5{
  text-transform: uppercase;
}
.cont-text-banner h4{
  font-size: calc(1em + 3.5vw);
}
.cont-text-banner h5{
  font-size: calc(1.3em + 3.7vw);
}
.cont-text-banner a{
  color: #ffffff !important;
  text-decoration: none;
}
.cont-text-banner a:hover{
  color: #FFAA00 !important;
}
.cont-text-banner a i{
  padding-left: 10px;
}
.v-carousel__controls{
  width: 200px !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  height: auto !important;
}
.v-carousel__controls .v-btn{
  display: block !important;
}
.v-carousel__controls .v-btn:before{
  content: "hola" !important;
  background-color: transparent !important;
}
.v-item--active .mdi-circle::before{
  content: "-";
}
/* estilos banner*/
/* imagenes centrales home*/
.img-centrales-home{
  margin-top: 90px;
}
/* imagenes centrales home*/
/*contenido home*/
.home-intro{
  margin-top: 90px;
}
/*contenido home*/
.rutas .router-link-exact-active li{
  color: #FFAA00 !important;
  border-bottom: 2px solid  #FFAA00;
  padding-bottom: 4px;
}
.rutas li{
  color: #000;
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.footer{
  background-color: #000 !important;
  padding: 20px 10px !important;
  text-align: center;
  align-items: center;
}
.text-footer span{
  padding: 0 20px;
  color: #ffffff !important;
}
.text-footer .imagenesFooter{
  padding: 0px 10px;
  width: 75px;
}
.derechos-reserva{
  color: #fff;
}
.bgImage{
  width: 100%;
  background-image: url('../ContactUs/Grupo42.png');
  background-size: cover;
  padding: 60px 0px;
  margin-bottom: 60px;
}
.expansionPanel{
  padding: 0 200px !important;
}
.v-expansion-panel-header__icon i{
  color: #fff !important;
}
.expansionpanel-tittle{
  border-bottom: 10px red !important;
  color: #fff !important;
  background: transparent !important;
}
.tittle-form, .tittle-form-2{
  color: #fff !important;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.tittle-form-2{
  padding-top: 10px;
}
.span-form{
  color: #fff !important;
}
.routes{
  text-decoration: none;
}
.buttom-more{
  background-color: #75B800 !important;
  border-radius: 0px !important;
}
.buttom-more span{
  color: #fff !important;
}
.imagenesFooter{
width: 50px;
margin: 0 auto;
display: inline-block !important;
}
.cardimg{
  text-align: center;
}
.cardimg .imagenesprueba{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.titulos-home{
  color: #ffa500;
  font-size: 36px !important;
}
.divisor-titulos{
  background:#ffa500 !important;
  height: 4px !important;
  width: 150px;
  margin: 10px 0px 30px 0px;
  border-radius: 5px;
}
.number-banner{
  height: 40px;
  width: 40px;
  float: right;
  align-items: center;
  text-align: center;
  font-size: 40px;
  display: flex;
  margin-right: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.number-banner span{
  color: #000 !important;
  margin: 0 auto;
  border: 1px solid blue;
  position: relative;
  cursor: pointer;
}
  .parrafos-home{
    font-size: 20px;
  }
  .imagen-home-lateral{
    margin: 0 auto;
    width: 80%;
  }
  .mas-en-links{
    color: #ffa500 !important;
    font-weight: bold;
    font-size: 24px;
    padding-right: 10px;
    position: relative;
    bottom: -2px;
  }
  .handler-carrousel{
    position: absolute;
    width: 100px;   
    height: 100px;
    z-index: 1000;
    right: 20px;
    bottom: 200px;
  }
  .handler-carrousel span{
    display: block;
    padding: 10px;
    color: red !important;
    cursor: pointer;
  }
  .links-home{
    text-decoration: none;
    color: #000 !important;
  }
  .next{
    color: #ffa500;
  }
  .bottom-call{
    width: 250px !important;
    height: 50px !important;
    background: #75B800 !important;
    margin-top: 90px !important;
  }
  .bottom-call span{
    color: #ffffff !important;
  }
  .menu-responsive{
    color: #ffa500;
    font-size: 1.5rem;
    display: none;
    padding: 10px 20px;
  }
/*Estilos servicios*/
.col-services{
  padding: 60px !important;
}
.cont-img-services{
padding-bottom: 30px;
}
.img-services{
  width: 100%;
}
.cabezote{
  background-image: url("../img/3109.jpg");
  background-size: cover;
  padding: 20px 60px;
}
.fondo-negro{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  padding: 30px 0px;
}
.fondo-negro .contenedorHome{
  margin-bottom: 0px !important;
}
.txt-blanco{
  color: #ffffff !important;
}
.bg-steel{
  background-image: url("../img/services-int-01-edit.jpg");
  background-size: contain;
  background-position: right;
  margin-bottom: 40px;
}
.iconos-lista {
  list-style: none;
  padding: 0;
}
.iconos-lista li {
  padding-left: 1.3em;
}
.iconos-lista li:before {
  content: "-"; /* FontAwesome Unicode */
  display: inline-block;
  margin-left: -20px;
  color: #FFAA00;
  font-weight: bolder;
  font-size: 2em;
  padding-right: 4px;
  position: relative;
  top: 3px;
}
/*Fin estilos servicios*/
/* Estilos carrusel */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-carrusel {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.vista{
  display: block;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #FFAA00;
  padding: 15px 16px;
}
#caption{
  margin-bottom: 0px !important;
  color: #000 !important;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.blanco{
  color: #ffffff !important;
  font-size: 2em;
}
/* Fin estilos carrusel */
.menu-mob{
  text-decoration: none;
  color:#FFAA00 !important;
}
@media screen and (max-width: 1500px) {  
  .cont-text-banner{
    top: 100px;
    left: 80px;
  }
}
@media (max-width: 1050px) {
  .expansionPanel{
    padding: 20px !important;
    top: 0px;
  }
  .contenedor-contenido{
  margin: 0px;
  }
  .carrusel{
    height: 100% !important;
  }
  .cardimg{
    width: 80%;
    height: 100%;
    margin: 40px auto;
}
}
@media screen and (max-width: 960px) {
  .rutas li{
    display: none;
  }
  .menu-responsive{
    display: block;
    padding-right: 5px;
  }
  .cont-text-banner{
    top: 50px;
    left: 80px;
  }
}
@media screen and (max-width: 560px) {
  .cont-text-banner{
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .img-centrales-home{
    margin-top: 20px;
    display: contents;
  }
  .home-intro{
    margin-top: 20px;
  }
  .titulos-home{
    font-size: 24px !important;
  }
  .parrafos-home{
    font-size: 16px;
  }
  .contenedorHome{
    margin-bottom: 30px;
  }

}